.app-header {
  background-color: #2e7c31;
  position: sticky;
  top: 0px;
}

h1 {
  margin: 0;
  padding: 10px 30px 10px 30px;
  color: white;
  text-shadow: 2px 2px #444;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: normal;
}

.post-list {
  margin: 0 5px 10px 5px;
  padding: 5px 0 20px 0;
}

.posts-heading {
  display: flex;
  padding: 10px 15px 25px 15px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  position: sticky;
  top: 57px;
  background: white;
}

.posts-selectors {
  display: flex;
}

.posts-selector {
  margin: 0 0 0 25px;
}

.category-selector-label,
.category-sort-label,
.default-category-selection {
  font-size: 0.8em;
  margin: 0 10px 0 0;
}

.post-summary {
  margin: 0 0 30px 0;
}

.post-summary-button {
  border: none;
  background: none;
  width: 100%;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
}

.post-summary-line-1 {
  background-color: #eee;
  display: flex;
  padding: 10px 15px 10px 15px;
  margin: 0 0 10px 0;
  justify-content: space-between;
  align-items: flex-end;
}

.post-summary-line-1 .post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 25px 0 0;
  font-size: 1.1em;
}

.post-summary-line-2,
.post-summary-line-3,
.post-summary-line-4 {
  padding: 0 15px 0 15px;
}

.post-summary-line-3 {
  margin: 10px 0 0 0;
  display: flex;
}

.post-summary-line-4 {
  margin: 0 0 0 0;
}

.post-summary-line-3,
.post-summary-line-4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.8em;
  color: #777;
}

.post-edit-controls {
  display: flex;
}

.post-edit-controls .post-delete {
  margin: 0 0 0 25px;
}

.post-summary-line-3-vote-container {
  margin: 0 0 0 150px;
}

.post-vote-score {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.post-vote-score .vote-button-left {
  margin: 0 15px 0 0;
}

.post-vote-score .vote-button-right {
  margin: 0 0 0 15px;
}

.post-vote-score button {
  font-size: 1.2em;
  cursor: pointer;
}

.post-vote-score button {
  padding: 5px 10px;
  cursor: pointer;
}

.edit-link {
  text-decoration-line: none;
}

.open-new-item {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-new-item a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

.save-button {
  background-color: #2e7d32; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
}

.post-details {
  margin: 0 30px 0 30px;
}

.post-details-heading {
  padding: 10px 0 25px 0;
  position: sticky;
  top: 57px;
  background: white;
}

.post-details-heading .post-details-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
}

.post-details-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 35px);
}

.post-details-info .post-author {
  font-size: 1.2em;
}

.post-details-info .post-edit-controls {
  font-size: 0.8em;
}

.post-details-body {
  padding: 0 0 20px 0;
  border-bottom: black 1px solid;
}

.post-details-vote-container {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0 0;
}

.post-comments {
  margin: 20px 0 0 0;
  padding: 0 0 60px 0;
}

.post-comments h3 {
  font-weight: bold;
  margin: 0 0 15px 0;
}

.comment-display {
  margin: 0 -10px 20px -10px;
  padding: 10px;
}

.comment-display-odd {
  background-color: #eee;
}
.comment-display .post-summary-line-2,
.comment-display .post-summary-line-3 {
  padding: 0;
}

.comment-display .post-author {
  margin: 0 25px 0 0;
}

.close-details {
  display: block;
  width: 20px;
  height: 28px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  margin: 0 15px 0 0;
}

.no-post {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2em;
  color: #777;
}

.no-post-link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-post-link a {
  font-size: 0.75em;
}

a:hover,
a:visited,
a {
  color: rgb(54, 54, 230);
  text-decoration-line: none;
}
