.post-list {
  margin: 10px 15px 10px 15px;
}

.category-selector {
  display:flex;
  flex-direction: row-reverse;
  margin: 10px 15px 25px 15px;
}

.category-selector-label {
  font-size: 0.8em;
  margin: 0 10px 0 0;
}

.post-summary {
  margin: 0 0 30px 0;
}

.post-summary-line-1 {
  background-color: #eee;
  display: flex;
  padding: 10px 15px 10px 15px;
  margin: 0 0 10px 0;
  justify-content: space-between;
  align-items: flex-end;
}

.post-summary-line-1 .post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 25px 0 0;
  font-size: 1.1em;
}

.post-summary-line-2,
.post-summary-line-3 {
  padding: 0 15px 0 15px;
}

.post-summary-line-3 {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
  font-size: 0.8em;
  color: #777;
}